* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #f7f7f7;
}

p {
  line-height: 1.5;
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content-wrapper {
  width: min(700px, 100%);
  margin-top: 8rem;
}

.content-wrapper h1 {
  width: fit-content;
  position: relative;
  margin-inline: auto;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.6666666666666667rem + 0.3703703703703704vw, 2rem);
}

.content-wrapper h1 span {
  position: absolute;
}

.content-wrapper h1 span:first-child {
  position: absolute;
  top: -1em;
  right: -0em;
  font-size: 1rem;
  transform: rotate(-10deg);
}

.content-wrapper h1 span:nth-child(2) {
  position: absolute;
  top: -1em;
  right: -0.8em;
  font-size: 1.25rem;
  transform: rotate(30deg);
}

.content-wrapper h1 span:last-child {
  position: absolute;
  top: -0.5em;
  right: -1.5em;
  font-size: 1rem;
  transform: rotate(65deg);
}

.question-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (width <= 760px) {
  .question-section {
    padding-inline: 1.25rem;
  }
}

.question-container {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.question-title {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
}

.question-title h3 {
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9583333333333334rem + 0.1851851851851852vw,
    1.125rem
  );
  font-weight: 600;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  height: 1.25rem;
  transition: transform 300ms ease-in-out;
}

.question-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease-in-out;
}

.line {
  width: 100%;
  height: 1px;
  margin-block: 1rem;
  background-color: black;
}

.question-body-show {
  max-height: 200px;
}

.rotate {
  transform: rotate(-180deg);
}
